<div class="main-wrap" style="background-image: url('images/bg.jpg')">
    <div id="center">
        <div class="head">
            <div class="wrap">
                <div class="clearfix top-bar">
                    <span class="logo pull-left">
                        <img src="images/home_02.png">
                    </span>
                    <div class="hotel pull-right">
                        <img class="pull-left" src="images/home_05.png" style="margin-top: 2px;">
                        <div class="tel">全国服务热线:4000-131-181</div>
                        <a href="#/Feedback"><div class="contact">联系我们</div></a>
                    </div>
                </div>
            </div>
        </div>

        <ul class="main-list">
            <li class="item0">
                <div class="site-content">
                    <div class="pull-right tag">极&nbsp;致&nbsp;·&nbsp;个&nbsp;性&nbsp;·&nbsp;品&nbsp;位</div>
                    <div class="pull-right name">上海波涛装饰集团</div>
                    <div class="pull-right ename">Shanghai&nbsp;Botao&nbsp;Decoration&nbsp;Group&nbsp;Co.,Ltd.</div>
                    <div class="point"></div>
                </div>
            </li>
            <li class="item item<{$index+1}>" ng-repeat="d in datas">
                <a ng-if="d.Ty!='Url'" href="#/<{d.Ty}>/<{d.ID}>/List" target="_self">
                    <div class="text">
                        <{d.Name}>
                    </div>
                </a>
                <a ng-if="d.Ty=='Url'" href="javascript:void(0)" data-ng-click="goUrl(d.Url)">
                    <div class="text">
                        <{d.Name}>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>